{
  "extends": [
    "airbnb",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
   ]
  }
}
