.App {
  padding: 120px;

  h1 {
    font-size: 4rem;
  }

  p {
    margin-top: 4px;
    font-size: 1.125rem;
  }

  .form {
    margin-top: 30px;
    width: 100%;

    display: flex;
    gap: 20px;
    align-items: center;

    > input,
    > button {
      height: 50px;
      border-radius: 6px;
      font-size: 1.125rem;
      transition: 0.2s;
    }

    > input {
      padding: 0 12px;
      width: 400px;
      border: 1px solid #ccc;
      outline: none;

      &:focus {
        border-color: #4361ee;
        box-shadow: 0 0 4px #4361ee;
      }
    }

    > button {
      padding: 0 24px;
      border: none;
      background: #4361ee;
      color: #fff;
      cursor: pointer;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .loading-text {
    margin-top: 30px;
    font-size: 1.125rem;
    font-weight: bold;
  }

  > ul {
    margin-top: 30px;
    list-style: none;

    li {
      font-size: 1.125rem;

      display: flex;
      gap: 6px;
      flex-direction: column;

      & + li {
        margin-top: 20px;
      }

      a {
        color: #4361ee;
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    padding: 60px;

    .form {
      flex-wrap: wrap;

      > input,
      > button {
        width: 100%;
      }
    }
  }
}