.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1120px;
}

.post {
  margin: 5rem auto 0;
  max-width: 720px;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    margin-top: 1.5rem;
    color: var(--gray-300);
    font-size: 1rem;

    display: block;
  }

  .postContent {
    margin-top: 2rem;
    color: var(--grey-100);
    font-size: 1.125rem;
    line-height: 2rem;

    a {
      color: var(--yellow-500);
      text-decoration: underline;
    }

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    &.previewContent {
      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.continueReading {
  margin: 4rem 0 2rem;
  padding: 2rem;
  border-radius: 100px;
  background: var(--gray-850);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;

  a {
    margin-left: 0.5rem;
    color: var(--yellow-500);

    &:hover {
      text-decoration: underline;
    }
  }
}